<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header is-casting-shadow">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{title}}</span>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a *ngFor="let menuItem of menuItems" class="mdl-navigation__link" [routerLink]="menuItem.link">{{menuItem.caption}}</a>
      </nav>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Accent-colored raised button with ripple -->
      <button (click)="resetDb($event)"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Reset DB
      </button>
      <!-- Colored FAB button -->
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{title}}</span>
    <nav class="mdl-navigation">
      <a *ngFor="let menuItem of menuItems" class="mdl-navigation__link" [routerLink]="menuItem.link">{{menuItem.caption}}</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<app-modal></app-modal>
